DB_ENGINE=django.db.backends.postgresql
DB_NAME=swgop
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=n&wr+gyhy=2aih%vb85%qb6#gji4ml^$=htm=mj4e&tjyr-sfj

DEBUG=True

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CORS_ALLOWED_ORIGINS=http://localhost:5173